<div   class="col-md-8 footer-class mt-5">
  <div class="row" style="margin-left:0;margin-right:0;">

    <div class="col-md-2 border-col f-w-bold f-s-13" style="padding-left: 10px;padding-right: 10px;">
      Support
    </div>
    <div class="col-md-3 f-s-13 border-col">
      <i class="fa fa-envelope"></i> info@omithub.com
    </div>
    <div class="col-md-4  f-s-13 border-col">
      <i class="fa fa-whatsapp f-wbold" aria-hidden="true" style="color: #7AB16E;font-weight: bold;"></i> Whatsapp: +917069-549730
    </div>
    <div class="col-md-3  f-s-13 border-col">
      <i class="fa fa-telegram" style="color: #5F99C9;"></i> Telegram: Demo User
    </div>


  </div>
  <div class="row mt-1" style="margin-left:0;margin-right:0;" style="padding-left: 10px;padding-right: 10px;">
    <div class="col-md-4"></div>
    <div class="col-md-4 f-s-13"><i class="fa fa-skype" style="color: #5B9DCD;"></i> live:info_123456</div>
    <div class="col-md-4"></div>
  </div>
  <div class="row mt-1" style="margin-left:0;margin-right:0;">
    <div class="col-md-2">

    </div>
    <div class="col-md-2 power " style="border:1px solid #E9E9E9">
      <span class="float-left pt-1 font-power" >Powered by </span>
      <span class="float-right font-omithub" >OMITHUB</span>
    </div>
    <div class="col-md-6" style="display: flex;padding:2px;border:1px solid #E9E9E9"> <span class="float-left">
        <img src="../../../../../../assets/images/logo.png" [width]="70" [height]="40">
      </span>
      <span class="float-right f-s-10"> Althrough we boast an incredible array sports one of our true
        strengths, is in the comphrehensive catalouge of prematch and in-play betting markets that we offer
      </span></div>
    <div class="col-md-2"></div>
  </div>

</div>