<div class="container pl-0 pr-0">
  <div class="clearfix">

    <div class="float-left">
      <h6>Account Details</h6>
    </div>
    <div class="float-right"><button class="btn btn-custom text-right" (click)="updateDetails()" *ngIf="displayEditButton"><i
          class="fa fa-pencil mr-1"></i>edit</button></div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6">
      <div class="col-md-12 pl-0 pr-0">
        <div class="card">
          <div class="card-header">
            About You
          </div>
          <div class="card-body">
            <!-- <ng-container> -->
            <div class="data-input">
              <label class="float-left mb-0">User Name</label>
              <label class="float-right mb-0 f-c-g">{{userName}}</label>
            </div>
            <div class="data-input"  *ngIf="!isEditable">
              <label class="float-left mb-0">Email</label>
              <label class="float-right mb-0 f-c-g">{{userEmail}}</label>
            </div>
            <div class="data-input-edit" *ngIf="isEditable">
              <label style="font-size: 12px;" class="mb-0">Email</label>
              <input type="text" class="w-100 input-box" [(ngModel)]="userEmail">
            </div>
            <div class="data-input" *ngIf="!isEditable">
              <label class="float-left mb-0">Password</label>
              <!-- <label class="float-right mb-0 f-c-g">{{password}}</label> -->
            </div>
           
            <div class="data-input-edit" *ngIf="isEditable">
              <label style="font-size: 12px;" class="mb-0">New Password</label>
              <input type="password" class="w-100 input-box" [(ngModel)]="password">
            </div>
            <!-- <div class="data-input-edit" *ngIf="isEditable">
              <label style="font-size: 12px;" class="mb-0">Confirm Password</label>
              <input type="password" class="w-100 input-box" [(ngModel)]="confirmPassword">
            </div> -->


          </div>

        </div>
      </div>
      <div class="col-md-12 pl-0 pr-0 mt-3">
        <div class="card">
          <div class="card-header">
            Address
          </div>
          <div class="card-body">
            <!-- <ng-container> -->
            <ng-container *ngIf="!isEditable">
              <div class="data-input">
                <label class="float-left mb-0">Address</label>
                <label class="float-right mb-0 f-c-g">{{address}}</label>
              </div>
              <div class="data-input">
                <label class="float-left mb-0 ">Town/city</label>
                <label class="float-right mb-0 f-c-g">{{town_city}}</label>
              </div>
              <div class="data-input">
                <label class="float-left mb-0 ">Country</label>
                <label class="float-right mb-0 f-c-g">{{country}}</label>
              </div>
              <div class="data-input">
                <label class="float-left mb-0">Country/State</label>
                <label class="float-right mb-0 f-c-g">{{state}}</label>
              </div>
              <div class="data-input">
                <label class="float-left mb-0">Postcode</label>
                <label class="float-right mb-0 f-c-g">{{postCode}}</label>
              </div>

            </ng-container>
            <ng-container *ngIf="isEditable">
              <div class="data-input-edit">
                <label style="font-size: 12px;" class="mb-0">Address</label>
                <input type="text" class="w-100 input-box" [(ngModel)]="address">
              </div>
              <div class="data-input-edit">
                <label style="font-size: 12px;" class="mb-0">Town/city</label>
                <input type="text" class="w-100 input-box" [(ngModel)]="town_city">
              </div>
              <div class="data-input-edit">
                <label style="font-size: 12px;" class="mb-0">Country</label>
                <input type="text" class="w-100 input-box" [(ngModel)]="country">
              </div>
              <div class="data-input-edit">
                <label style="font-size: 12px;" class="mb-0">Country/State</label>
                <input type="text" class="w-100 input-box" [(ngModel)]="state">
              </div>
              <div class="data-input-edit">
                <label style="font-size: 12px;" class="mb-0">Postcode</label>
                <input type="text" class="w-100 input-box" [(ngModel)]="postCode">
              </div>
            </ng-container>
          </div>

        </div>
      </div>

    </div>
    <div class="col-md-6">
      <div class="col-md-12 pl-0 pr-0">
        <div class="card">
          <div class="card-header">
            Contact Details
          </div>
          <div class="card-body">
            <!-- <ng-container> -->
            <div class="data-input" *ngIf="!isEditable">
              <label class="float-left mb-0">Primary Number</label>
              <label class="float-right mb-0 f-c-g">{{pNumber}}</label>
            </div>
            <div class="data-input-edit" *ngIf="isEditable">
              <label style="font-size: 12px;" class="mb-0">Primary Number</label>
              <input type="number" class="w-100 input-box" [(ngModel)]="pNumber">
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 pl-0 pr-0 mt-3">
        <div class="card">
          <div class="card-header">
            Setting
          </div>
          <div class="card-body">
            <!-- <ng-container> -->
            <div class="data-input">
              <label class="float-left mb-0">Currency</label>
              <label class="float-right mb-0 f-c-g">{{currency}}</label>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-12 pl-0 pr-0 mt-3">
        <div class="card">
          <div class="card-header">
            Commission
          </div>
          <div class="card-body">
            <!-- <ng-container> -->
            <div class="data-input">
              <label class="float-left mb-0">Comm charged</label>
              <label class="float-right mb-0 f-c-g">{{charge}}</label>
            </div>
          </div>

        </div>
      </div>
      <div class="float-right mt-2">
        <button class="btn btn-custom" (click)="saveDetails()" *ngIf="displaySaveButton">Save</button>
      </div>
    </div>
  </div>

</div>