<div class="row" style="margin-left:0;margin-right:0">
  <div class="col-md-8 " style="padding-left:4px;padding-right: 4px ;">
    <app-image-slider></app-image-slider>
    <div class="football-tab" style="margin-top:5px;" (click)="getSelectedHeader()">

      <div class="highlight">Highlights</div>
      <p-tabView class="football-tab" [activeIndex]="index" (onChange)="handleChange($event)">


        <p-tabPanel header="In-Play">
          <div class="football-box" >
            <app-inplay-table [tableArr]="footballInplayArr"  [hideRow]="true"></app-inplay-table>

          </div>
        
        </p-tabPanel>
        <p-tabPanel header="Today">
          <div class="football-box" >
            <app-inplay-table [tableArr]="footballTodayArr"  [hideRow]="true"></app-inplay-table>

          </div>
        
        </p-tabPanel>
        <p-tabPanel header="Tomorrow">
          <div class="football-box">
            <app-inplay-table [tableArr]="footballTomorrowArr"  [hideRow]="true"></app-inplay-table>

          </div>
         
        </p-tabPanel>
      </p-tabView>

    </div>
  </div>
  <div class="col-md-4 sidebar" style="padding-left:4px;padding-right: 4px">
    <app-side-bar></app-side-bar>
  </div>
</div>
<app-footer></app-footer>