<div class="row" style="margin-left:0;margin-right:0">
  <div class="col-md-8 " style="padding-left:4px;padding-right: 4px ;">
    <app-image-slider></app-image-slider>
    <div class="inPlay-tab" style="margin-top:5px;">


      <p-tabView class="inPlay-tab" [activeIndex]="index" (onChange)="handleChange($event)">


        <p-tabPanel header="In-Play">
          <div class="cricket-box" >
            <app-inplay-table [tableArr]="cricketArr" [header]="'Cricket'"></app-inplay-table>

          </div>
          <div class="football-box mt-2" >
            <app-inplay-table [tableArr]="footballArr" [header]="'Football'"></app-inplay-table>

          </div>
          <div class="tennis-box mt-2" >
            <app-inplay-table [tableArr]="tennisArr" [header]="'Tennis'"></app-inplay-table>

          </div>
        </p-tabPanel>
        <p-tabPanel header="Today">
          <div class="cricket-box" >
            <app-inplay-table [tableArr]="cricketArr" [header]="'Cricket'"></app-inplay-table>

          </div>
          <div class="football-box mt-2" >
            <app-inplay-table [tableArr]="footballArr" [header]="'Football'"></app-inplay-table>

          </div>
          <div class="tennis-box mt-2" >
            <app-inplay-table [tableArr]="tennisArr" [header]="'Tennis'"></app-inplay-table>

          </div>
        </p-tabPanel>
        <p-tabPanel header="Tommorow">
          <div class="cricket-box">
            <app-inplay-table [tableArr]="cricketArr" [header]="'Cricket'"></app-inplay-table>

          </div>
          <div class="football-box mt-2" >
            <app-inplay-table [tableArr]="footballArr" [header]="'Football'"></app-inplay-table>

          </div>
          <div class="tennis-box mt-2" >
            <app-inplay-table [tableArr]="tennisArr" [header]="'Tennis'"></app-inplay-table>

          </div>
        </p-tabPanel>
      </p-tabView>
      <!-- <div *ngIf="noTableData" class=" noData">
        <table class="table" style="width: 100%;">
          <tr class="text-center">
            <td style="width: 20%;"></td>
            <td style="width: 25%;"></td>
            <td style="width: 15%;">1</td>
            <td style="width:15%">X</td>
            <td style="width:15%">2</td>
          </tr>
        </table>

      </div> -->
    </div>
  </div>
  <div class="col-md-4" style="border: 1px solid;padding-left:4px;padding-right: 4px">

  </div>
</div>