/* .header-first-panel{
    background:#303030 ;
    /* width: 100%; */
    /* height: 70px;
    margin: 0;
    color:whitesmoke;
}  */
.container{
    min-width: 100%;
    padding: 0;
    margin: 0;
    height: 70px;
    color:whitesmoke;
    background:#303030 ;
    /* border: 1px solid white;
    margin:15px; */
  
  
}
.left{
text-align:left;
/* padding:5px 15px 5px 15px; */
 /* ;//top right bootom left */
}
.logoImage{
    padding: 7px;
    height:80px ;
    width: 100px;
}
.calendar-block {
 margin-left:5%;
 margin-top:auto;
 margin-bottom:auto;
 font-size: 12px;
}


.image-block{
    float: left;
}
.parent-div{
    display: flex;
}
.clock-block{
    font-size: 12px;
    margin-left: 15px;
    margin-top:auto;
    margin-bottom:auto;
}
.icon-margin{
    margin-right:5px ;
    color: #FFC626;
    font-size: 16px;
}
/* .nav-main{
    background: #FFC626;
    height: auto;
    padding: 3px;
   
    font-size: 12px;;
} */
/* .nav-main .navbar-nav a{
    font-weight: bold;
    color: #4A2906;
}
.nav-main .navbar-nav{
    line-height: unset;
}


.nav-main .navbar-nav .nav-link{
    padding-top: 0px;
    padding-bottom: 0px; 
    padding-left: 10px;
    padding-right: 10px;
} */

/* .nav-right .nav-item{
    padding-top: 0px;
    padding-bottom: 0px; 
    padding-left: 10px;
    padding-right: 10px;
} */
.sports-block{
    background:black;
    height: 22px;
    /* padding:10px; */
}
.sports-block i{
  color:  #B98524
}

.sports-block span{
    color:  #B98524;
    font-size: 14px;
  }

.no-padding{
    padding: 0px;
}
.sidebar {
    position: relative;
    left: 0;
  }
 

  .bg-nav{
      background: #FFC626;
  }
.main-nav .navbar{
    padding: 0px;
}
.main-nav .navbar-nav .nav-link{
    padding-top: 2px;
    padding-bottom: 2px; 
    padding-left: 12px;
    padding-right: 12px;
}
.main-nav .navbar-nav .nav-item{
    border-right:1px solid lightgray;
  }
  .main-nav .navbar-nav a{
    font-weight: bold;
    color: #4A2906;
    font-size: 12px;
}
.main-nav .navbar-nav a:hover{
    color: white;
    background: black;
}
@media screen and (max-width:767px) {
    .main-nav .navbar-nav .nav-item{
        border-bottom:1px solid lightgray;
      }
  }
  /* @media screen and (min-width:768px) {
    .nav-main .navbar-nav .nav-item{
        border-right:1px solid lightgray;
      }
  } */