<div class="container h-100">
  <!-- <div class="header-first-panel"> -->
  <div class="parent-div">
    <div class="logo-block">
      <img class="logoImage" src="{{logo}}">
    </div>
    <div class="calendar-block">
      <i class="fa fa-calendar-check-o icon-margin"></i>Mar 11, 2020
    </div>
    <div class="clock-block">
      <i class="fa fa-clock-o icon-margin"></i>3:48:12 PM GMT+5
    </div>
    <div class="my-account m-r-25">
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fa fa-user m-r-5"></i> My Account
        </button>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="user-account">
            <div class="left-tag" [pTooltip]="demo123456789876" tooltipPosition="top" tooltipEvent="hover">
              DemoUser1234455</div>
            <div class="right-tag">GMT+5:30</div>
          </div>
          <a class="dropdown-item menu-item" href="#">My Profile</a>
          <a class="dropdown-item menu-item" [routerLink]="['/app/balance']">Balance Overview</a>
          <a class="dropdown-item menu-item" href="#">Account Statement</a>
          <a class="dropdown-item menu-item" href="#">My Bets</a>
          <a class="dropdown-item menu-item" href="#">Bets History</a>
          <a class="dropdown-item menu-item" [routerLink]="['/app/profit-loss']">Profit & Loss</a>
          <a class="dropdown-item menu-item" href="#">Bets History</a>
          <div class="logout-btn" (click)="onLogout()"><button class="btn w-100" type="button">LOGOUT</button></div>

        </div>
      </div>


    </div>
  </div>
</div>
<div class="main-nav">
  <nav class="navbar navbar-expand-md navbar-light bg-nav">
    <!-- <a href="#" class="navbar-brand">Brand</a> -->
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav">
        <a href="#" class="nav-item nav-link active">Home</a>
        <a href="#" class="nav-item nav-link">In-Play</a>
        <a href="#" class="nav-item nav-link">Cricket</a>
        <a href="#" class="nav-item nav-link">Football</a>
        <a href="#" class="nav-item nav-link">Tennis</a>
        <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
      </div>
      <div class="navbar-nav ml-auto">
        
        <a href="#" class="nav-item nav-link">Time Zone: GMT+5:30</a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-television" aria-hidden="true"></i> Live</a>
        <a href="#" class="nav-item nav-link"><i class="fa fa-cog"></i> Setting</a>
      </div>
    </div>
  </nav>

</div>
<div class="col-md-12 col-sm-12 no-padding" style="display:flex">
  <div class="sidebar col-md-2 col-sm-4" style="height: 100%;padding: 10px;">
    <div class="sports-block col-md-12 col-sm-12">
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
      <span class="float-right"> Sports</span>
    </div>
    <div class="sports-label col-md-12 col-sm-12" style="border-bottom: 1px solid lightgray;padding: 5px;">

      <span style="color: mediumblue;">Football</span>
      <span class="float-right"><i class="fa fa fa-caret-right"
          style="color: black;background: #FFC626;height:16px;width:16px;text-align: center;"></i></span>

    </div>
    <div class="sports-label col-md-12 col-sm-12" style="border-bottom: 1px solid lightgray;padding: 5px;">

      <span style="color: mediumblue;">Tennis</span>
      <span class="float-right"><i class="fa fa fa-caret-right"
          style="color: black;background: #FFC626;height:16px;width:16px;text-align: center;"></i></span>

    </div>
    <div class="sports-label col-md-12 col-sm-12" style="border-bottom: 1px solid lightgray;padding: 5px;">

      <span style="color: mediumblue;">Cricket</span>
      <span class="float-right"><i class="fa fa fa-caret-right"
          style="color: black;background: #FFC626;height:16px;width:16px;text-align: center;"></i></span>

    </div>
  </div>
  <router-outlet></router-outlet>
</div>