<ng-container>  
  <div class="col-md-12"  style="padding: 0;">
    <h6 class="account-title">Account Statement</h6>

    <div style="width: 100%;background:#ffffff">
      <div class="table-responsive">
        <p-table #dt class="table table-striped  table-hover account-table" [value]="accountData" [style]=" {width:'100%'}">
       
          <ng-template pTemplate="header">
            <!-- <tr class="text-center ">
              <th style="  background-color: #2B4F67;
              color:white;font-weight:normal" colspan="8" >Matched
              </th>
            </tr> -->
            <tr class="text-center">
              <th>
                S.No
              </th>
              <th>
                Remark
              </th>
              <th style="width: 15%">
            Credit/Debit
              </th>
              <th style="width: 15%">
                Balance
              </th>
              <th>
                Date
              </th>
            
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-account let-i="rowIndex">
            <tr class="text-center">
              <td>
                {{i+1}}
              </td>
              <td>
              {{account.match}}
              </td>
              <td>
           {{account.credit_debit}}
              </td>
              <td>
            {{account.balance}}
              </td>
              <td>
              {{account.date}}
              </td>
             
          

            </tr>
          </ng-template>

        </p-table>
      </div>

       
      <!-- </div> -->

    </div>

  </div>

</ng-container>
