/* You can add global styles to this file, and also import other style files */
@import "../src/assets/style/primeng-override.scss";
@import '../node_modules/primeng/resources/themes/omega/theme.css';

@media (min-width: 768px) {
    .sideToggle {
      display: none;
    }
  }
  
 
  .f-w-bold{
    font-weight: bold;
  }
  .f-w-normal{
    font-weight: normal;
  }
  .w-10{
    width: 10%;
  }
  .w-20{
    width: 20%;
  }
  .w-30{
    width: 30%;
  }
  .w-25{
    width: 25%;
  }
  .w-15{
width: 15%;
  }
  .w-35{
    width: 35%;
  }
  .no-padding{
    padding: 0;
  }